<ion-header >
  <ion-grid id="nav">
      <ion-row class="ion-align-items-start">
          <ion-col id="nav-button-home" size="3" appTap (tap)="home()">
              <ion-label>
                <ion-icon name="chevron-back-outline"></ion-icon> 
                Voltar
              </ion-label>
          </ion-col>

          <ion-col id="nav-logo" size="6">
            <div>
              <img src="assets/pokemon/logo.png">
            </div>
          </ion-col>

          <ion-col size="3">
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="pokefav">
          <p ><img src="assets/pokemon/pokebola.png"> Pokefav</p>
        </ion-col>
      </ion-row>
    <ng-template [ngIf]="pokeFav.length > 0" [ngIfElse]="elseBlock">
      <ion-row id="pokemon">
          <poke-card 
            *ngFor="let poke of pokeFav;" 
            [pokeData]="poke" 
            appTap (doubleTap)="details(poke.pokeIndex)"
            class="pokemon-card" 
            ></poke-card>  
      </ion-row>
    </ng-template>
    <ng-template #elseBlock>
      <ion-row  size="auto" class="pokemon-null ion-align-items-center">
        <ion-col class="ion-align-self-center">
        <p>Nenhum Pokemon favoritado.</p>
        </ion-col>
    </ion-row>
    </ng-template>        
    </ion-grid>
  </ion-content>
