ion-header{
    background: linear-gradient(175.83deg, #EC1C24 5.02%, #07224D 91.22%);
    box-shadow: 0px 2px 2px rgba(73, 58, 0, 0.16);
    height: auto;
  }

  #nav{
    padding-top: 6%;
    padding-bottom: 6%;
  }

  #nav-button-home{
    align-self: center;
  }

  #nav-logo{
    text-align: center;
    align-self: center;
  }

  #nav-logo img{
    width: 80%;
  }

 #nav-button-home{
  text-align:left;
  align-self: center;
 }

 #nav-button-home ion-label{
  vertical-align: middle;
  font-size: 1.2em;
  color: #ffff;
  font-family: League Spartan Extra-Bold  !important;
 } 

 #nav-button-home ion-icon{
  color: #FFCB05;
  vertical-align: bottom;
  font-size: 1.8rem; 
 } 
  
#pokemon{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
  margin: 5px;
}

.pokemon-card{
  background: linear-gradient(200.8deg, #EC1C24 20.89%, #07224D 98.46%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 190px;
  height: 265px;
}

.pokefav{
  text-align: center;
}

.pokefav p{
 vertical-align: middle;
 font-size: 1.5rem; 
 background: linear-gradient(200.8deg, #EC1C24 20.89%, #07224D 98.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-weight: 800;
}
.pokefav img{
  vertical-align: middle;
 }

 .pokemon-null{
  font-family: League Spartan !important;
  height: 380px; 
  text-align: center; 
  color:#d9d8d8; 
  font-size: 1.8rem;
}