<ion-content>
  <div *ngIf="details">
  <ion-grid   *ngFor="let detail of details" >
    <ion-row id="nav" class="ion-align-items-center">
      <ion-col size="2" id="nav-icon" class="ion-align-self-center" appTap (tap)="home()">
        <ion-icon name="chevron-back-outline" style="font-size: 2.3rem;"></ion-icon>
      </ion-col>
      <ion-col size="8" id="nav-img" class="ion-align-self-center">
        <img src="assets/pokemon/logo.png">
      </ion-col>
    </ion-row>

    <ion-row id="content">

      <ion-col size="12" id="content-img">
        <swiper>
            <ng-template swiperSlide > 
              <img [src]="[detail.images[0].image_front]" class="img" style="width: 220px; height: 220px;">
            </ng-template>   
            <ng-template swiperSlide > 
              <img [src]="[detail.images[0].image_back]" class="img" style="width: 220px; height: 220px;">
            </ng-template>
        </swiper>
       </ion-col>
      
       <ion-col size="1"></ion-col>
       <ion-col size="10"
          class="content-background"
          ></ion-col>
       <ion-col size="1"></ion-col>

       <ion-col size="12" class="content-info-text">

        <p class="text">
          {{ detail.name }}(#{{ detail.id }}) 
          <ion-icon *ngIf="!favorite" name="heart-outline" appTap (tap)="addFavorite(index, detail)"></ion-icon>
          <ion-icon *ngIf="favorite" name="heart-dislike-outline" appTap (tap)="removeFavorite(index)"></ion-icon>  
        </p>

        </ion-col>
    </ion-row>

    <ion-row id="content-ability">
      <ion-col 
        size="6"
        class="ability" 
        *ngFor="let a of detail.abilities;" 
        >
          <ion-chip class="ability-chip"> {{ a.ability.name }}</ion-chip>
      </ion-col>
    </ion-row>

    <ion-row class="content-details">
      <ion-col size="4" *ngFor="let s of detail.stats">
        <p style="text-align: center;">
          {{ s.stat.name == "hp" ? "Hp": s.stat.name == "attack" ? "Ataque" : s.stat.name == "defense" ? "Defesa" : s.stat.name == "special-attack" ? "Ataque Especial" : s.stat.name == "special-defense" ? "Defesa Especial" : s.stat.name == "speed" ? "Rapidez" : ""  }}:
          <span style="color: #07224D">{{ s.base_stat }}</span>
        </p>
          
      </ion-col>
    </ion-row>
  </ion-grid>    
  </div>

</ion-content>
