ion-content{
    font-family: League Spartan SemiBold  !important;
}

#nav{
    padding-top: 6%;
    padding-bottom: 6%;
}

#nav-icon{
    margin-top: 20px;
    color: #FFCB05;
    vertical-align: middle;
    font-size: 2rem;
}

.content-info-text{
    text-align: center;
    font-size: 1.3rem;
}

.text {
color: #07224D;
}

#content-img{
height: 160px;
}

#content-favorite{
background-color: #EC1C24;
}

#poke-info-swiper img{
    width: 300px;
}

.content-background{
background: linear-gradient(200.8deg, #EC1C24 20.89%, #07224D 98.46%);
height: 90px;
margin-top: -60px; 
border-radius: 100px;
}

#content-ability .ability{
text-align: center;
}

.content-info-text p{
    vertical-align: middle;
}
.content-info-text p ion-icon{
    vertical-align: sub;
    color: #EC1C24;
    font-size: 1.7rem;
}

.icon{
    vertical-align: middle;
}

.ability-chip{
color: #07224D;
text-align: center;
padding: 15%;
background: #FFCB05;
}

.content-details span{
    font-family: League Spartan SemiBold  !important;
  }

.content-details p{
  font-family: League Spartan Extra-Bold  !important;
}

.content-details{

padding-top: 20px;
height: 100px;
color: #EC1C24;
}