ion-content{ 
  font-family: League Spartan !important;
  font-size:1.1em;
}
 
 ion-header{
    background: linear-gradient(175.83deg, #EC1C24 5.02%, #07224D 91.22%);
    box-shadow: 0px 2px 2px rgba(73, 58, 0, 0.16);
    height: 220px;
  }

  #nav{
    padding-top: 6%;
  }

  #imgLogo{
    text-align: start;
    align-self: center;
    margin-left: 4%;
  }

  #imgLogo img{
    width: 60%;
  }

#nav-favorite{
  text-align:center;
  align-self: center;
  margin-left: 30px; 
}

#nav-favorite ion-label{
  font-family: League Spartan Extra-Bold  !important;
  vertical-align: middle;
  font-size: 1.3em;
  color: #ffff;
}


#nav-favorite  ion-icon{  
  color: #FFCB05;
  vertical-align: middle;
  font-size: 1.8rem; 
}

#searchPoke{
 margin-top: 39px;
}

ion-input{
  background-color: #FFFFFF;
  color: #9c9c9c;
  border-radius: 50px;
  height: 50px;
  width: 100%;
}


#pokemon{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
  margin: 5px;
}

.pokemon-card{
  background: linear-gradient(200.8deg, #EC1C24 20.89%, #07224D 98.46%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  width: 190px;
  height: 265px;
}

.pokemon-null{
  height: 480px; 
  text-align: center; 
  color:#d9d8d8; 
  font-size: 1.8rem;
}