<ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-start" id="nav">
      <ion-col size="6"  id="imgLogo">
        <div>
          <img src="assets/pokemon/logo.png">
        </div>
      </ion-col>

      <ion-col size="4" class="ion-justify-content-end" id="nav-favorite" appTap (tap)="pokeFav()">
        <ion-label >
          <ion-icon name="heart-outline"></ion-icon> 
          PokeFav
        </ion-label>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center" id="searchPoke">
      <ion-col size="1"></ion-col>
      <ion-col size="10" >
        <ion-input placeholder="Buscar pokemon" (ionChange)="onSearchChange($event)"></ion-input>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>    
  </ion-grid>

</ion-header>

<ion-content>
    <ion-grid >
      <ng-template [ngIf]="pokemon.length > 0" [ngIfElse]="elseBlock">
        <ion-row id="pokemon"  >
          <poke-card class="pokemon-card" [pokeData]="poke" *ngFor="let poke of pokemon;" appTap (doubleTap)="details(poke.pokeIndex)"></poke-card>
        </ion-row>

        <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais Pokemon...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ng-template>
      <ng-template #elseBlock>
        <ion-row  size="auto" class="pokemon-null ion-align-items-center">
            <ion-col class="ion-align-self-center">
            <p>Nenhum Pokemon encontrado.</p>
            </ion-col>
        </ion-row>
      </ng-template>      
    </ion-grid>

</ion-content>
