 <ion-grid>
   <ion-row>
    <ion-col size="9" ></ion-col>
    <ion-col size="3" class="poke-button-favorite">
      <ion-icon *ngIf="!pokeData.favorite" name="heart-outline" appTap (tap)="addFavorite(pokeData)"></ion-icon>
      <ion-icon *ngIf="pokeData.favorite" name="heart-dislike-outline" appTap (tap)="removeFavorite(pokeData.pokeIndex)"></ion-icon>  
    </ion-col>
   </ion-row>
   <ion-row>
      <ion-col size="12" class="poke-img">
        <img [src]="pokeData.image" style="width: 90%;">
      </ion-col>
      <ion-col size="12" class="pokeInfo-name">
        {{ pokeData.name }}
      </ion-col>
      <ion-col size="12" class="pokeInfo-id">
        #{{ pokeData.pokeIndex }}
      </ion-col>
   </ion-row>
 </ion-grid>