.poke-button-favorite{
    color: #E1B914;
    font-size: 2.2rem;
  }
.poke-img{
     height: 140px;
     margin-top: -30px;
     text-align: center;
}
.pokeInfo-name{
    font-family: League Spartan Extra-Bold !important;
    font-size: 1.8rem;
    color: #E2BF1D;
    text-align: center;
  }
.pokeInfo-id{
  font-family: League Spartan Extra-Bold !important; 
  font-size: 1.4rem;
  color: #3B7AAB;
  text-align: center;
}
