/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'swiper/scss';
@import 'swiper/scss/autoplay';
@import 'swiper/scss/keyboard';
@import 'swiper/scss/pagination';
@import 'swiper/scss/scrollbar';
@import 'swiper/scss/zoom';
@import '@ionic/angular/css/ionic-swiper';


@font-face {   
  font-family: 'League Spartan';    //This is what we are going to call
  src: url('assets/font/LeagueSpartan.ttf');
}
@font-face {   
  font-family: 'League Spartan SemiBold';    //This is what we are going to call
  src: url('assets/font/LeagueSpartan-SemiBold.ttf');
}

@font-face {   
  font-family: 'League Spartan Extra-Bold';    //This is what we are going to call
  src: url('assets/font/LeagueSpartan-ExtraBold.ttf');
}

ion-toast.custom-toast {
    --background: #07224D;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.6);
    --color: #FFCB05;
  }
      
  ion-toast.custom-toast::part(message) {
    font-weight: bold;
  }
  
  ion-toast.custom-toast::part(button) {
    border-left: 1px solid #FFCB05;
    color: #FFCB05;
    font-size: 15px;
  }